@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

button, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
    text-decoration: none;
    outline: none;
}

/*fw 400 600 700*/
body {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
    overflow-x: hidden;
}

.header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-position: calc(50% + 103px) 0%;

    height: 140px;
    padding-top: 20px;
}

.header__logo-text {
    margin-left: 18px;
}

.header__title {
    margin-top: 16px;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
}

.title__h1 {
    font-size: 48px;
}

.title__h1_top {
    color: #000099;
}

.header__title-text {
    font-size: 14px;
    color: #000099;
}

.header__call {
    text-align: right;
    margin-top: 5px;
}

.call__phone {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.1em;
    border-bottom: 1px solid #989898;
    cursor: pointer;
}

.call__phone:hover {
    color: #c2042a;
    border-bottom-color: #c2042a;
}

.call__adress {
    margin-top: 7px;
}

.call__adress-icon {
    margin-right: 8px;
    margin-top: 3px;
    color: #c2042a;
}

#banner {
    -webkit-box-shadow: 0px 19px 42px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 42px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 19px 42px -13px rgba(0,0,0,0.75);
}

.nav__wrapper {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.gradient {
    height: 1px;
    width: 100%;
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 25%, rgba(254,0,0,1) 51%, rgba(0,0,0,1) 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 25%,rgba(254,0,0,1) 51%,rgba(0,0,0,1) 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 25%,rgba(254,0,0,1) 51%,rgba(0,0,0,1) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    transition: opacity 0.5s ease;
}

.top-bar_fixed {
    position: fixed;
    top: 0;
}

.nav__list {
    padding: 36px 0;
}

.nav__item {
    margin-left: 50px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px; 
}

.nav__link:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.top-bar__search {
    height: 33px;
    width: 100%;
    position: relative;
}

.top-bar__input {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px;
    padding-bottom: 3px;
    padding-left: 20px;

}

.top-bar__input::placeholder {
    padding: 0;
    font-size: 12px;
    opacity: 1; 
    transition: opacity 0.3s ease;
    color: #6b6b6b;
}

.top-bar__input:focus::placeholder {  
     opacity: 0;
}

.top-bar__search-icon {
    position: absolute;
    top: 8px;
    right: 15px;
    color: #6b6b6b;
}

.top-bar__search-icon_red {
    color: #b80532;
}

.top-bar__search-icon_active {
    color: #b80532;
}

.carousel-indicators {
    justify-content: flex-end;
}

.carousel-indicators>li {
    width: 13px;
    height: 13px;
    padding: 0;
    border: 7px solid #fff;
    border-radius: 50%;
    background-color: #000099;
    opacity: 1;
    margin-left: 9px;
    margin-right: 9px;
}

.carousel-indicators>li:hover {
     background-color: #c2042a;
}

.carousel-indicators>.active {
    background-color: #c2042a;
}

#banner {
    z-index: 2;
    position: relative;
}

.banner-icon {
    width: 25px;
    height: 82px;
    opacity: 1;
/*    margin-top: 100px;*/
}

.banner-icon_left {
    background: url(../img/banner-left-arrow.png);
}

.banner-icon_left:hover {
    background: url(../img/banner-left-active-arrow.png);
}

.banner-icon_right {
    background: url(../img/banner-right-arrow.png);
}

.banner-icon_right:hover {
    background: url(../img/banner-right-active-arrow.png);
}

.carousel-control-prev {
    opacity: 1;
    left: 0;
    top: 98px;
}

.carousel-control-next {
    opacity: 1;
    right: 0;
    top: 98px;
}

.banner__cont {
    position: absolute;
    text-align: left;
    z-index: 1;
    color: #fff;
    top: 160px;
    left: 50%;
    margin-left: -440px;
}

.banner__title {
    font-size: 48px;
    font-weight: 600;
}

.banner__text {
    font-size: 36px;
    width: 680px;
    line-height: 40px;
}

#main {
}

.main {
    background: url(../img/main-bg.jpg) repeat;
    /*background-position: calc(50% + 103px) 0%;*/
    background-position: top center;
    position: relative;
    z-index: 0;
    padding: 88px 0 0 0;
}

.main__item-text {
    margin-top: 50px;
}

.main__item-text_left {
    margin-top: 125px;
}

.title__h2 {
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}

.main__text {
    padding-top: 30px;
}

.main__button {
    margin-top: 30px;
    position: relative;
    z-index: 40;
}

.button__item {
    color: #fff;
    padding: 8px 32px;
    background-color: #c2042a;
    border-radius: 25px;
}

.button__item:hover {
    background-color: #9f0020;
    color: #fefefe;
}

.main__color-line {
    position: absolute;
    width: 70vw;
    height: 68px;
    z-index: -2;
}

.main__color-line_right {
    top: 68px;
    left: -143px;
    background-color: #c2042a;
}

.main__color-line_left {
    top: 125px;
    right: -143px;
    background-color: #000099;
}

.main__item-two {
    margin-top: 130px;
}

.main__item-text-two {
    margin-top: 190px;
}

.main__color-line_right-two {
    top: 200px;
    left: -225px;
}

.main__item-text_left-two {
    margin-top: 74px;
}

.main__color-line_left-two {
    top: 126px;
    right: -227px;
    border-bottom-right-radius: 90px;
}

.main__item-three {
    margin-top: 40px;
}

.main__item-text-three {
    margin-top: 69px;
}

.main__color-line_right-three {
    top: 120px;
    left: -225px;
}

.main__bottom-bar {
    padding-top: 40px;
    background: url(../img/main-company-bg.jpg) no-repeat;
    background-position: top center;
    height: 323px;
}

.grey-stipe {
    height: 1px;
    background-color: #e2e2e2;
}

.main__bottom-text_red {
   color: #c2042a;
   font-weight: 700;
}

.main__bottom-text:last-child {
    margin-top: 30px;
}

.about {
    padding-top: 70px;
    padding-bottom: 100px;
}

.title__h3 {
    color: #c2042a;
    font-size: 20px;
}

.about__text {
    margin-top: 20px;
}

.about__text_red {
    color: #c2042a;
    margin-top: 50px;
    font-size: 24px;
    line-height: 1.2em;
    letter-spacing: 0;
    margin-bottom: 85px;
}

.about__bg {
    background: url(../img/about-bg1.jpg) no-repeat;
    background-position: top center; 
    height: 480px;
}

.adv {
    padding: 60px 0 0 0;
}

.adv__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.adv__line {
    background: url(../img/adv-line-left.png) no-repeat;
    background-position: top center;
    position: absolute;
    height: 1px;
    width: 454px;
    top: 19px;
}

.adv__line_left {
    left: -35px;
}

.adv__line_right {
    right: -35px;
}

.adv__item {
    margin-top: 75px;  
}

.adv__item-img {
    width: 138px;
    margin: 0 auto;
}

.adv__item-title {
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.adv__item-text {
    text-align: center;
    margin-top: 20px;
}